# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
*.db
*.sqlite3-journal

# Virtual environments
.env
.venv
env/
venv/

# Git and metadata
.git
.gitignore
.DS_Store

# Testing and coverage
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.mypy_cache/
coverage.xml

# Flask build/output
.webassets-cache
templates/dashboard_backup.html
names.py
/.idea
/static/labels
